.expensesTableContainer {
  overflow-x: auto;
}

.expensesTable {
  border-collapse: collapse;
  width: 100%;
}

.expensesTable thead {
  background-color: rgba(0, 0, 0, 0.24);
}

.expensesTable thead th {
  color: white;
  padding: 20px;
}

.expensesTable tbody td {
  padding: 20px;
}

.expensesTable tbody tr :nth-child( odd ) {
  background-color:rgba(46, 42, 42, 0.24);
}
