.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.headerInfos {
  display: flex;
}

.headerInfos > * {
  margin-right: 30px;
}

.headerInfosItem {
  display: flex;
}

.headerInfosItem dt {
  margin-right: 10px;
}
