.formulario {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.formulario label input {
  margin: 10px 10px 10px 5px;
}

.formulario label select {
  margin: 10px 10px 10px 5px;
}
