* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100vw;
}

.header-items {
  margin: 30px;
}

.header-items span {
  margin-left: 5px;
}

