.FormContainer {
  overflow-x:auto;
}

.FormTable {
  border-collapse: collapse;
  width: 100%;
}

.FormTable thead {
  background-color: rgb(34, 34, 34);
}

.FormTable thead tr {
  color: white;
  padding: 20px;
}

.FormTable tbody tr {
  padding: 20px;
}

.FormTable tbody tr:nth-child(odd) {
  background-color: rgb(204, 204, 204);
}
