* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: rgb(70, 172, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: rgb(3, 17, 77);
  text-align: center;
}

form {
  align-items: center;
  background: rgb(70, 172, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background: rgb(192, 226, 255);
  border: 2px solid rgb(0, 119, 255);
  box-shadow: 0 0 7px #3c2f76;
  margin: 10px;
  padding: 0 5px;
}

button {
  background: rgb(70, 172, 255, 0.5);
  color: rgb(3, 17, 77);
  font-size: 15px;
  height: 40px;
  letter-spacing: 1px;
  width: 80px;
}

button:hover {
  background: rgb(3, 17, 77);
  color: rgb(192, 226, 255);
}

button:focus {
  outline: 2px solid rgb(3, 17, 77);
}

button:active {
  outline: 2px solid rgb(3, 17, 77);
}

button:disabled{  
  background: rgb(70, 172, 255, 0.1);
  color: rgb(3, 17, 77);
  cursor: not-allowed;
}

input:active {
  outline: 2px solid rgb(0, 119, 255);
}

input:focus {
  outline: 2px solid rgb(0, 119, 255);
}

input::placeholder {
  color: rgb(3, 17, 77);
}

label {
  color: rgb(3, 17, 77);
}
