.login-form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.login-form-title {
  font-size: 20px;
  text-align: center;
}

.login-form-email {
  margin: 10px;
}

.login-form-password {
  margin: 10px;
}
