.campos_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 200px;
  border: 2px;
  background-color:  rgb(68, 117, 182);
  border-radius: 15%;
  margin: 5px;
}

.login{
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
}
  