/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&family=Roboto:wght@400;500;700;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

a {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.txt1 {
  font-family: Roboto;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}

.limiter-wallet {
  width: 100%;
  margin: 0 auto;
}
.container-wallet-bg {
  background-image: url("../images/bg-01.jpg");
}

.container-wallet {
  width: 96vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-wallet::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.wrap-wallet {
  width: 100%;
  height: 55vh;
  border-radius: 10px;
  margin-top: -15%;
  overflow: hidden;
  /* padding: 55px 55px 37px 55px; */
  background: #9152f8;
  background: -webkit-linear-gradient(to top, #7579ff, #b224ef);
  background: -o-linear-gradient(to top, #7579ff, #b224ef);
  background: -moz-linear-gradient(to top, #7579ff, #b224ef);
  background: linear-gradient(to top, #7579ff, #b224ef);
}
.table {

  display: flex;
  justify-content: center;
}
table {
  align-self: center;
  /* margin-top: -2%; */
  width: 95%;
  height: 100%;
}
thead {
  color: azure;
}
tbody{
  color: azure;
}
td {
  width: 12%;
  border-radius: 3px;
  border:1px solid azure;
}
button.table-button {

justify-self: center;
  margin: 2%;
  width: 45%;
  background-color: azure;
}