header {
  align-items: center;
  background-color: rgb(22, 27, 34);
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 14px 40px;
}

header span {
  font-size: 1.3em;
  margin-right: 15px;
}
