.tableContainer {
  overflow-x: auto;
}

.expenseTable {
  border-collapse: collapse;
  width: 100%;
}

.expenseTable thead {
  background-color: rgb(0, 0, 0, 0.7);
}

.expenseTable thead tr th {
  color: white;
  padding: 18px;
}

.expenseTable tbody td {
  padding: 18px;
}

.expenseTable tbody tr:nth-child( odd ) {
  background-color: green;
}
