.table-body {
  display: flex;
  overflow: auto;
  width: 100%;
}

.table {
  background: white;
  margin: 15px;
  text-align: center;
  width: 100%;
}

.fundo-verde {
  background-image: linear-gradient(rgb(50, 122, 83), rgb(50, 122, 100));
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

