/* Auxílio do Paulo Simões (estudo dirigido dia 28/02/2021) */

/* https://github.com/plantao-de-alunos-trybe/plantao-trybe-wallet-live-code */
.header-container {
  color: black;
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  margin-right: 20px;
  padding: 5px;
}

.info dt {
  margin-right: 5px;
}
