body {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  font-size: 20px;
  text-align: center;
}


.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
