.App {
  background-color: rgb(30, 25, 30);
  height: 100vh;
}

input {
  background-color: rgb(50, 45, 50);
  border: none;
  border-radius: 5px;
  color: rgb(190, 180, 190);
  padding: 4px 6px;
  text-align: end;
}

label , legend {
  color: rgb(210, 200, 210);
}
