body {
  background-color: rgb(213, 243, 231);
}

h3 , h1 {
  color: black;
  font-size: 30px;
  margin-top: 0;
}

.form {
  align-items: center;
  background-color: rgb(177, 177, 177);
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: 140px auto;
  width: 350px;
}

.input-login {
  height: 30px;
  margin: 5px;
  width: 70%;
}

.button-login {
  border: 2px solid black;
  height: 25px;
  margin-top: 20px;
  width: 70%;
}

.button-disabled {
  background-color: rgb(14, 2, 66);
  color: gray;
}

.button-enabled {
  background-color: rgb(106, 85, 199);
  color: white;
}

.header {
  align-items: center;
  background-color: rgb(177, 177, 177);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
}

.infos-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

form {
  align-items: center;
  background-color: rgb(4, 107, 82);
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  padding: 0 30px;
}

.add-expense {
  background-color: rgb(11, 51, 231);
  color: rgb(234, 241, 239);
  font-weight: 600;
  height: 30px;
}

.input-expense {
  margin-left: 5px;
}

.description {
  width: 200px;
}

.value {
  width: 70px;
}

.header-table {
  align-items: center;
  background-color: rgb(4, 107, 82);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  padding: 0 30px;
}

.message {
  align-items: center;
  display: flex;
  font-size: 25px;
  height: 450px;
  justify-content: center;
  margin: 0;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 40px;
  justify-content: space-around;
  padding: 0 30px;
}
