body {
  background-color: rgb(15, 163, 107);
}

h3 , h1 {
  color: rgb(15, 163, 107);
  font-size: 30px;
  margin: 10px 0;
}

.form {
  align-items: center;
  background-color: rgb(64, 25, 127);
  border: 3px solid rgb(4, 107, 82);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: 140px auto;
  width: 350px;
}

.input-login {
  height: 25px;
  margin: 5px;
  width: 60%;
}

.button-login {
  border: 2px solid rgb(4, 107, 82);
  height: 25px;
  margin-top: 20px;
  width: 60%;
}

.button-disabled {
  background-color: rgb(4, 107, 82);
  color: gray;
}

.button-enabled {
  background-color: rgb(15, 163, 107);
  color: black;
}

.header {
  align-items: center;
  background-color: rgb(64, 25, 127);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
}

.infos-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

form {
  align-items: center;
  background-color: rgb(4, 107, 82);
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  padding: 0 30px;
}

.add-expense {
  background-color: rgb(64, 25, 127);  
  color: rgb(15, 163, 107);
  font-weight: 600;
}

.input-expense {
  margin-left: 5px;
}

.description {
  width: 250px;
}

.value {
  width: 70px;
}