* {
  font-size: 18px;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.login-box {
  box-shadow: 0px 0px 8px 4px rgb(228, 226, 226);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.button {
  background-color: rgb(92, 221, 189);
  border: none;
  border-radius: 5px;
  color: rgb(49, 133, 119);
  font-weight: bold;
  padding: 5px;
  transition: 100ms;
  width: 120px;
}

.button:disabled {
  background-color: rgb(238, 227, 227);
  box-shadow: none;
  color: rgb(197, 194, 194);
}

.button:hover {
  box-shadow: 0px 0px 5px 2px rgb(211, 213, 214);
}

.logos {
  margin: 2px 20px;
  width: 30px;
}

.wallet-img {
  padding: 10px;
  width: 100px;
}

.input {
  border: 2px dashed rgb(201, 204, 209);
  border-radius: 4px;
  outline: none;
  padding: 2px 5px;
  transition: 200ms;
}

.input:hover {
  border: 2px solid rgb(175, 189, 209);
}

.input:focus {
  border: 2px solid rgb(116, 157, 218);
  box-shadow: 0px 0px 3px 0px rgb(144, 180, 235) ;
}
