.login-container {
  align-items: center;
  border: 1px solid blueviolet;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 600px;
}

.login-container input {
  font-size: 1rem;
  height: 30px;
  margin: 5px;
  padding: 10px;
  width: 70%;
}

.login-container button {
  background-color: #17a812;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 10px 15px;
  width: 73%;
}

.login-container button:hover {
  opacity: 0.9;
}
