body {
  background-color: rgb(6, 185, 117);    
}

h3, 
h1 {
  color: rgb(15, 163, 107);
  font-size: 30px;
  margin: 10px 0;
}

.form {
  align-items: center;
  background-color: rgb(64, 25, 127);
  border: 0.5rem solid rgb(4, 107, 82);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  margin: 9rem auto;
  width: 20rem;
}

.input-login {
  height: 25px;
  margin: 5px;
  width: 60%;
}

.button-login {
  border: 2px solid rgb(4, 107, 82);
  height: 25px;
  margin-top: 20px;
  width: 60%;
}

.button-disabled {
  background-color: rgb(4, 107, 82);
  color: gray;
}

.button-enabled {
  background-color: rgb(15, 163, 107);
  color: black;
}

/* .wallet {
  align-items: center;
  position: relative;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin: 9rem auto;
  padding: 0;
} */
